/* INDEX */

#mainI {
    background-image: url(../imagenes/backgroundImageIndex.avif);
    background-size: cover;
    margin-top: 10px;
 
    h2 {
        background-color: white;
        text-align: center;

        border-radius: 15px;
 
        a {
            color: $color3;
            text-shadow: black;
            padding: 3px 10px;
            text-shadow: #38ccea 0px 0 7px;

            &:hover {
                background-color: $color3;
                color: white;
                border-radius: 10px;
            }
        }
    }
  
    .mainI__start {
        background-color: $color1;
        filter: drop-shadow(24px 30px 19px rgb(239, 205, 142));
        border-radius: 10px;
        width: 300px;
        height: 200px;

        text-align: center;
        padding: 20px 0px;

        p {
            padding: 20px 0px;
            margin: 0px;
        }
 
        .mainI__p1 {
            background-color: $color3;
            color: white;
            font-weight: bold;
        }

        button {
            margin-top: 20px;
        }

        .mainI__p2 {
            a {
                color: blue;
                font-style: oblique;
                font-weight: 500;

                &:hover {
                    font-weight: 700;
                }
            }
        }

    }
}

@media (max-width:480px) {

    /* MEDIA PHONE | INDEX */
    .bodyI {
        display: grid;
        grid-template-rows: 40px 120px 125% 80px;

        #mainI {
            width: 100%;
            height: 100%;
            background-image: url(../imagenes/notesNotebook.webp);

            h2 {
                width: 210px;
                padding: 1%;
                margin: 20%;
            }

            .mainI__start {
                margin-left: 10%;
            }
        }
    }
}

@media (min-width:481px) {
    .bodyI {
        display: grid;
        grid-template-rows: 40px 120px auto 80px;

        #mainI {
            width: 100%;
            height: 700px;

            h2 {
                width: 300px;
                padding: 10px;
                margin: 5% 30%;
            }

            .mainI__start {
                margin-left: 30%;
            }
        }
    }
}

